@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Major+Mono+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* Hides ScrollBar in Internet Explorer 10+ */
  scrollbar-width: none; /* Hides Scrollbar in Firefox and Opera */
}

*::-webkit-scrollbar {
  display: none; /* Hides ScrollBar in Safari and Chrome */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
  color: #fff;
}

main {
  background-color: #fff;
  box-sizing: border-box; 
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 32px;
  font-weight: 400;
  text-transform: lowercase;
  color: #7e9181;
}

h2 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
}

h3 {
  font-family: 'Major Mono Display', monospace;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  text-transform: lowercase;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #00000049;
  margin-block: 1em;
}

p, div {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #3F3F3F;
  white-space: pre-line;
}

#cardSubtitle {
  font-family: 'Major Mono Display', monospace;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 600;
  color: #7e9181;
  text-transform: lowercase;
}

#link { 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: #757575;
  transition: all 0.35s ease;
}

#link:hover {
  color: #000;
}

#link-active {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: #93A996;
  text-decoration: underline;
  text-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  font-weight: 600;
}


@media (max-width: 640px) {
  #mobileFix { display: flex;
  flex-direction: column; }
  #desktopFix { display: none; }
}

@media (min-width: 641px) {
  #mobileFix { display: none; }
  #desktopFix { display: flex; }
}